solutions/x64/Debug/
solutions/x64/Release/
.vs/
matlab/mexCalcXtY.mexw64
*.asv
*.mexw64
solutions/fista_lib/x64/Debug/fista_lib.tlog/CL.command.1.tlog
solutions/fista_lib/x64/Debug/fista_lib.tlog/CL.read.1.tlog
solutions/fista_lib/x64/Debug/fista_lib.tlog/CL.write.1.tlog
solutions/fista_lib/x64/Debug/fista_lib.tlog/fista_lib.lastbuildstate
solutions/fista_lib/x64/Debug/fista_lib.tlog/Lib.command.1.tlog
solutions/fista_lib/x64/Debug/fista_lib.tlog/Lib-link.read.1.tlog
solutions/fista_lib/x64/Debug/fista_lib.tlog/Lib-link.write.1.tlog
solutions/fista_lib/x64/DebugOpt/fista_lib.tlog/CL.command.1.tlog
solutions/fista_lib/x64/DebugOpt/fista_lib.tlog/CL.read.1.tlog
solutions/fista_lib/x64/DebugOpt/fista_lib.tlog/CL.write.1.tlog
solutions/fista_lib/x64/DebugOpt/fista_lib.tlog/fista_lib.lastbuildstate
solutions/fista_lib/x64/DebugOpt/fista_lib.tlog/Lib.command.1.tlog
solutions/fista_lib/x64/DebugOpt/fista_lib.tlog/Lib-link.read.1.tlog
solutions/fista_lib/x64/DebugOpt/fista_lib.tlog/Lib-link.write.1.tlog
solutions/fista_lib/x64/Release/fista_lib.tlog/CL.command.1.tlog
solutions/fista_lib/x64/Release/fista_lib.tlog/CL.read.1.tlog
solutions/fista_lib/x64/Release/fista_lib.tlog/CL.write.1.tlog
solutions/fista_lib/x64/Release/fista_lib.tlog/fista_lib.lastbuildstate
solutions/fista_lib/x64/Release/fista_lib.tlog/Lib.command.1.tlog
solutions/fista_lib/x64/Release/fista_lib.tlog/Lib-link.read.1.tlog
solutions/fista_lib/x64/Release/fista_lib.tlog/Lib-link.write.1.tlog
solutions/fista_lib/x64/ReleaseOpt/fista_lib.tlog/CL.command.1.tlog
solutions/fista_lib/x64/ReleaseOpt/fista_lib.tlog/CL.read.1.tlog
solutions/fista_lib/x64/ReleaseOpt/fista_lib.tlog/CL.write.1.tlog
solutions/fista_lib/x64/ReleaseOpt/fista_lib.tlog/fista_lib.lastbuildstate
solutions/fista_lib/x64/ReleaseOpt/fista_lib.tlog/Lib.command.1.tlog
solutions/fista_lib/x64/ReleaseOpt/fista_lib.tlog/Lib-link.5836.read.1.tlog
solutions/fista_lib/x64/ReleaseOpt/fista_lib.tlog/Lib-link.5836.write.1.tlog
solutions/fista_simple_testing/x64/Debug/fista_test.tlog/CL.command.1.tlog
solutions/fista_simple_testing/x64/Debug/fista_test.tlog/CL.read.1.tlog
solutions/fista_simple_testing/x64/Debug/fista_test.tlog/CL.write.1.tlog
solutions/fista_simple_testing/x64/Debug/fista_test.tlog/fista_test.lastbuildstate
solutions/fista_simple_testing/x64/Debug/fista_test.tlog/link.command.1.tlog
solutions/fista_simple_testing/x64/Debug/fista_test.tlog/link.read.1.tlog
solutions/fista_simple_testing/x64/Debug/fista_test.tlog/link.write.1.tlog
solutions/fista_simple_testing/x64/DebugOpt/fista_test.tlog/CL.command.1.tlog
solutions/fista_simple_testing/x64/DebugOpt/fista_test.tlog/CL.read.1.tlog
solutions/fista_simple_testing/x64/DebugOpt/fista_test.tlog/CL.write.1.tlog
solutions/fista_simple_testing/x64/DebugOpt/fista_test.tlog/fista_test.lastbuildstate
solutions/fista_simple_testing/x64/DebugOpt/fista_test.tlog/link.command.1.tlog
solutions/fista_simple_testing/x64/DebugOpt/fista_test.tlog/link.read.1.tlog
solutions/fista_simple_testing/x64/DebugOpt/fista_test.tlog/link.write.1.tlog
solutions/fista_simple_testing/x64/Release/fista_test.tlog/CL.command.1.tlog
solutions/fista_simple_testing/x64/Release/fista_test.tlog/CL.read.1.tlog
solutions/fista_simple_testing/x64/Release/fista_test.tlog/CL.write.1.tlog
solutions/fista_simple_testing/x64/Release/fista_test.tlog/fista_test.lastbuildstate
solutions/fista_simple_testing/x64/Release/fista_test.tlog/link.command.1.tlog
solutions/fista_simple_testing/x64/Release/fista_test.tlog/link.read.1.tlog
solutions/fista_simple_testing/x64/Release/fista_test.tlog/link.write.1.tlog
solutions/fista_simple_testing/x64/ReleaseOpt/fista_test.tlog/CL.command.1.tlog
solutions/fista_simple_testing/x64/ReleaseOpt/fista_test.tlog/CL.read.1.tlog
solutions/fista_simple_testing/x64/ReleaseOpt/fista_test.tlog/CL.write.1.tlog
solutions/fista_simple_testing/x64/ReleaseOpt/fista_test.tlog/fista_test.lastbuildstate
solutions/fista_simple_testing/x64/ReleaseOpt/fista_test.tlog/link.command.1.tlog
solutions/fista_simple_testing/x64/ReleaseOpt/fista_test.tlog/link.read.1.tlog
solutions/fista_simple_testing/x64/ReleaseOpt/fista_test.tlog/link.write.1.tlog
solutions/unit_testing/x64/
solutions/unit_testing/UnitTest1.vcxproj.filters
